@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
Partie Body
*/
body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif !important;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

/*
Partie Header
*/
.navbar {
    background-color: #35363b;
}

.wrapper-nav {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recherche {
    justify-content: right;
}

input {
    padding: 0.5rem;
    background-color: black;
    border-radius: 10px;
    color: white;
}
/*
Partie Livres
*/
.container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.container>* {
    flex: 1 1 50vh;
}

.composant-flex {
    display: flex;
}

.composant-affichage {
    background-color: #35363b;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    position: relative;
}
/*
Partie ContenueLivre
*/
img {
    height: 100%;
    width: 200px;
}

.desc {
    padding: 1rem;
}

.desc h2{
    text-decoration: underline;
}

.voirPlus {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

.voirPlus a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    justify-content: right;
}

/*
Partie Paginator
*/

.paginator{
    text-align: center;
}

.paginator button{
    background-color: #35363b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;

}